.container-fluid{
    margin-left: -10px;
    line-height:50px;
    position: relative;

}

.navbar-nav{
 margin-left: 600px;
 line-height:50px;
}


img{
    width: 75%;
}
.one h1{
    font-size:50px;
}

.h-100 img{
    width:400px;
}


.btn-success{
    height:110%;
    width:20%;
}