.container-fluid{
    margin-left: -10px;
    line-height:50px;
    position: relative;

}

.navbar-nav{
 margin-left: 600px;
 line-height:50px;
}


img{
    width: 75%;
}

.third-step{
    
    Width:1300px;
    max-width: 90%;
    margin:0 auto; 
}
.fourth-step{
    
    Width:1300px;
    max-width: 90%;
    margin:0 auto; 
}
.btn-success{
    height:80%;
    width:30%;
    
}

.h-100 img{
    width:400px;
}
h1{
   font-size:20px ;
}



.first-half{
   width:85%;
}
.picture-card img{
    height:50px;
    width:50px;
    margin-right: 20px;
    
}
.picture-card{
    border:5px solid lightgrey;
    padding: 10px 50px 10px 50px;
    border-radius: 8px;
    margin-left: 300px;
}



.final-image{
    font-size: 10px;
    Width:18rem;
    max-width: 90%;
    margin:0 auto;
    border: 5px solid darkblue;
}

.last{
    display: flex;
    margin-left: 250px;
    margin-right: 210px;
}