.container-fluid{
    margin-left: -10px;
    line-height:50px;
    position: relative;

}

.navbar-nav{
 margin-left: 600px;
 line-height:50px;
}


img{
    width: 75%;
}


.h-100 img{
    width:400px;
}


.btn-success{
    height:110%;
    width:20%;
    
}

.first-half{
    display:grid;
    grid-template-rows: repeat(3,1fr);
    Width:1600px;
    max-width: 90%;
    margin:0 auto;
}
.picture img{
    height:50px;
    width:50px;
    margin-right: 20px;
}

.picture{
    display: flex;
    align-items:initial;
    font-size: 10px;
}

.fourth-step{
    
    Width:1300px;
    max-width: 90%;
    margin:0 auto; 
}
.third-step{
    
    Width:1300px;
    max-width: 90%;
    margin:0 auto; 
}